body {
	font-family: Helvetica Neue, Arial, sans-serif;
	font-size: 14px;
}

*, .dijitInline {
	box-sizing: border-box;
}

.column {
	display: flex;
	flex-direction: column;
}
.column > *, .row > * {
	flex-grow: 1;
}
.row {
	display: flex;
	flex-direction: row;
}
.row > * {
	margin-right: 4px;
}
.row > *:last-child {
	margin-right: 0;
}
.column > * {
	margin-bottom: 4px;
}
.column > *:last-child {
	margin-bottom: 0;
}
.row > * > * {
	width: 100%;
}
.fixed {
	flex-grow: 0;
}

.box,
.dgrid,
.dijitComboBox,
.dijitComboBoxMenuPopup,
.dijitTooltip,
.dijitTooltipContainer,
.dijitComboBoxMenu,
.dijitComboBox {
	border-radius: 3px;
}

.dijitSelectMenu,
.dijitComboBoxMenu {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.box,
.dijitSelect,
.dijitComboBox,
.dijitComboBoxMenuPopup,
.dijitTooltipContainer,
.dijitArrowButton {
	border: solid 1px #ddd;
}

.dijitComboBoxMenu {
	border: none;
}

.dijitTextBox {
	width: auto;
}

.dijitSelect,
.dijitComboBox {
	overflow: hidden;
}

.dijitValidationTextBox {
	/* for positioning of validation icon */
	position: relative;
}

.dijitValidationTextBox .dijitValidationContainer {
	float: right;
	position: relative;
	width: 18px;
}
.dijitValidationTextBox .dijitValidationIcon {
	width: 16px;
	background: none;
}
.dijitValidationTextBoxError .dijitValidationContainer::before {
	content: '\26A0';
	color: #da0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -45%);
}

.dijitNumberTextBox input.dijitInputInner {
	text-align: left;
}

.dijitTooltipContainer {
	padding: 1px 3px 2px 3px;
	background: #f7f7f7;
}
.dijitTooltipRight {
	transform: translateX(10px);
}
.dijitTooltipLeft {
	transform: translateX(-10px);
}
.dijitTooltipTop {
	transform: translateY(-10px);
}
.dijitTooltipBottom {
	transform: translateY(10px);
}

.dijitSelect .dijitArrowButtonContainer {
	border-width: 0;
	border-left-width: 1px;
}

.dijitComboBox .dijitArrowButtonContainer {
	display: none;
}
.dijitComboBoxFocused .dijitArrowButtonContainer {
	display: block;
}

.dijitComboBox .dijitArrowButton,
.dijitSelect .dijitArrowButton {
	width: 16px;
	background: #f7f7f7;
	position: relative;
}
.dijitComboBox .dijitArrowButton::before,
.dijitSelect .dijitArrowButton::before {
	content: '\25BC';
	font-size: 10px;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	color: #777;
}
.dijitSelect .dijitButtonContents {
	background: white;
	border-right: none;
}
.dijitSelect.dijitHasDropDownOpen {
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.dijitSelectMenu {
	border: solid 1px #ddd;
	border-collapse: separate;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}
.dijitMenuItemLabel {
	padding: 0 3px 2px 3px;
}
.dijitPopup,
.dijitTooltip {
	box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.04);
}
.dijitMenuItemDisabled {
	display: none;
}

.dijitSelect .dijitButtonContents,
.dgrid,
.axioms {
	box-shadow: inset 0px 0px 4px 2px rgba(0, 0, 0, 0.03);
}

.dijitInputField,
.dgrid-row {
	padding-left: 3px;
}

.dgrid {
	height: auto;
}

#map {
	border-style: solid;
	border-width: 1px;
}

.dgrid-row {
	cursor: pointer;
}

.dgrid-row.marked {
	background: #ff0;
}

.select-grid {
	display: flex;
	flex-direction: column;
}
.select-grid > * {
	margin-bottom: 4px;
	flex-grow: 1;
}
.select-grid > *:last-child {
	margin-bottom: 0;
}
.select-grid > .dijitSelect{
	flex-grow: 0;
}

.axioms {
	border: solid 1px #ddd;
	min-height: 200px;
	flex-grow: 0;
}

#main {
	height: 40em;
	transition: opacity 1s;
}

#ontologies {
	width: 200px;
}

#ontologies-column {
	width: 400px;
	flex-grow: 0;
	flex-shrink: 0;
}

#select-grids > * {
	width: 50%;
}

.spinner {
	width: 70px;
	text-align: center;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.spinner > div {
	width: 18px;
	height: 18px;
	background-color: #333;

	border-radius: 100%;
	display: inline-block;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0) }
	40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
	0%, 80%, 100% { 
		-webkit-transform: scale(0);
		transform: scale(0);
	} 40% { 
		-webkit-transform: scale(1.0);
		transform: scale(1.0);
	}
}

#wrapper {
	position: relative;
}

#wrapper.loading #main {
	opacity: 0;
}

#wrapper.busy #main {
	opacity: 0.25;
}

#wrapper.loading .overlay,
#wrapper.busy .overlay {
	display: block;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: none;
}

#axiom-entry {
	display: flex;
	flex-direction: row;
	align-items: center;
	padding: 1em;
	position: relative;
}

.axiom-editor {
	opacity: 0;
	margin: 0 auto;
	transition: opacity 1s;
}

.ontology1-selected.ontology2-selected .axiom-editor {
	opacity: 1;
}

.editor-content {
	margin: 0 auto;
}

.relationship-editor {
	flex-direction: row;
	border: solid 1px hsla(240, 100%, 50%, 0.1);
	border-radius: 3px;
	padding: 2px 3px 3px 3px;
	cursor: pointer;
	align-items: center;
	background: hsla(240, 100%, 80%, 0.1);
}
.relationship-select .dijitComboBox .dijitArrowButton {
	background: none;
}
.relationship-select {
	min-width: 13em;
}
/* .relationship-input { */
/* 	display: none; */
/* } */

.relationship-select > .relationship-name {
	display: block;
	color: rgba(75, 75, 75, 0.5);
}
.relationship-select .dijitComboBox,
.relationship-select .dijitTextBox {
	border: none;
	width: 100%;
}
.relationship-select .dijitComboBox .dijitInputField {
	padding: 0;
}

.relationship-select > .relationship-name.has-value {
	color: black;
}
.relationship-select > .relationship-name.has-children::after {
	content: ':';
}

.relationship-editor > :first-child {
	flex-grow: 0;
	flex-shrink: 0;
}
.relationship-editor > :last-child {
	flex-grow: 1;
}
/* .relationship-editor.focused > .relationship-select > .relationship-name { */
/* 	display: none; */
/* } */
/* .relationship-editor.focused > .relationship-select > .relationship-input { */
/* 	display: block; */
/* } */

.relationship-operands:not(:empty) {
	margin-top: 3px;
}
.relationship-operands {
	display: flex;
	flex-direction: column;
}
.relationship-operands > * {
	margin-left: 2em;
	margin-bottom: 3px;
}
.relationship-operands > *:last-child {
	margin-bottom: 0;
}

.dijitMenuItem.relationship {
	font-style: italic;
}
